<h1>List of posts</h1>

<ol>
  <% @posts.each do |post|%>
  <li>

    <%= link_to post.title, post_path(post)%>
  </li>
  <% end %>
</ol>

<br>
<br>
<br>
<br>
<%= link_to "Add a new post", new_post_path%>
